<mat-form-field appearance="legacy" *ngIf="!error">
  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter password" name="password" autocomplete="new-password" password-validate [passwordRule]="passwordRule" (passwordValidityChange)="passwordValidityChange($event)">
  <button mat-icon-button matTooltip="Show Password" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon><img src="assets/images/eye.ico.svg" alt=""></mat-icon>
  </button>
</mat-form-field>

<app-password-strength-info *ngIf="!error" [requirments]="requirments" [passwordRule]="passwordRule"></app-password-strength-info>
